@import './fonts.css';

body{
    font-family: "Lato";
}

.container{
    width: 1020px;
    margin: 0 auto;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746; 
}

.navigation{
    width: 371px;
    margin-top: 39px;
    margin-right: 40px;
    font-weight: 500;
        
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.navigation ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;

}

.navigation ul li{
    position: relative;
}

.navigation ul li:not(:last-child)::before{
    content: "·";
    color: #494e62;
    position: absolute;
    font-weight: 700;
    right: -18px;
    top: 2px;
    
}
 

.navigation ul li a:hover{
    color: #f06c64;
    font-weight: 500;
}



.logo{
    font-size: 25px;
    color: #ffffff;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: -0.1px;
    line-height: 6.32px;
    font-weight: 500;
    font-family: "Lato";
    
}

.logo span{
    color: #f06c64;
    margin-left: -5px;
}


/* slider */

.slider{
    background-color: #f06c64;
    height: 594px;
    border-bottom: 6px solid #ea676b;
    position: relative;
    
}

.button-l{
    background-image: url(./assets/img/button_left.png);
    width: 16px;
    height: 27px;
    position: absolute;
    top: 281px;
    left: 42px;
}
.button-r{
    background-image: url(./assets/img/button_right.png);
    width: 16px;
    height: 27px;
    position: absolute;
    left: 964px;
    top: 281px;
}

.button-r:hover{
    background-image: url(./assets/img/button_right_g.png);
}

.button-l:hover{
    background-image: url(./assets/img/button_left_g.png);
}

.vertical-phone{
    position: absolute;
    left: 112px;
    top: 53px;

}

.horizontal-phone{
    position: absolute;
    left: 425px;
    top: 174px;
}


/* section our services */


.our-services{
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-right: 40px;
    padding-left: 40px;

}

.services-info{
    padding-top: 69px;
}


.services-info > h2{
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
}

.services-info p{
    margin-top: 28px;
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.services-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}

.services-list ul li{
    display: flex;
    align-items:flex-start;
    margin-bottom: 33px;
    margin-right: 2px;
    
}

.services-block-text{
    margin-left: 20px;
}

.services-block-text > h3{
    width: 121px;
    height: 17px;
    color: #666d89;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    
}

.services-block-text > p{
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    width: 218px;
    margin-top: 11px;
}



.services-list ul li h3{
    display: inline;
}



/* singolo2 */


.container{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    
}

.portfolio-wrapper h2, .wrapper-about-us h2{
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
    margin-bottom: 27px;
    letter-spacing: -0.1px;
}

h3{
    /* Style for "Adam Jense" */
    
    color: #666d89;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
}



/* sectiSon portfolio */
.portfolio-wrapper{
    
    background-color: #2d303a;
    padding-left: 40px;
    padding-top: 70px;
    padding-right: 40px;
    height: 794px;
    border-bottom: 6px solid  #323746;

}

.portfolio-wrapper p{
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.tags{
    display: flex;
    margin-top: 10px;
    margin-bottom: 21px;
}

.tag{
    margin-right: 7px;
    
}


.tag a{
    text-decoration: none;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    border: 1px solid #666d89;
    padding: 2px 7px 4px 8px;
    border-radius: 5px;
    
}

.tag a:hover{
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.layout-4-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    height: 621px;
	
}

.layout-4-columns img{
    margin-bottom: 20px;
}

/* section about-us */

.wrapper-about-us{
    
    height: 659px;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-top: 69px;
    padding-right: 40px;
    border-bottom: 6px solid #ffffff;
}

.wrapper-about-us p{
    
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.layout-3-columns{
    margin-top: 46px;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.human-about{
    margin-top: 14px;
    letter-spacing: -0.1px;
    margin-bottom: 24px;

    
}
.human-about h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    font-weight: 900;
}

.human-about p{
    margin-top: 10px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    width: 300px;
    
}

.human-contact a{
    margin-right: 4px;
    cursor: pointer;
}

.human-contact a:hover{
    filter: sepia(100%);
}



/* singolo3 */
html {
    font-size: 10px;
  }

body {
    font-size: 1.6rem;
    font-family: 'Lato', Verdana, sans-serif;
  }
.contacts{
    background-color: #f06c64;
}

.container{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper-contacts{
    
    padding-left: 39px;
    padding-right: 37px;
    padding-top: 69px;
}

h2{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.contacts-description{
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.017rem;
    font-weight: 300;
    padding-top: 27px;
    color: #f0d8d9;
    padding-top: 28px;
}
.form{
    display: flex;
    justify-content: space-between;
}

.contacts-form{
    max-width: 591px;
    padding-top: 44px;
    padding-bottom: 20px;
    border-bottom: 6px solid #ea676b;
}

.field{
    width: 100%;
    border: none;
    padding: 10px 14px 12px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
}

.field::placeholder {
    font-family: 'Lato';
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #f48c8f;
  }

  .textarea_field{
    height: 182px;
    letter-spacing: 0.019em;
    padding: 7px 14px 13px;
  }

  .form-info{
    max-width: 304px;
    color: #f0d8d9;
  }

  .form-info-title{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 900;
    margin: 0;
    padding-top: 44px;
  }

  .form-info-description{
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
  }
  .contacts-our{
      margin-top: 21px;
  }

  .contact{
    display: inline-flex;
    align-items: center;
    margin: 0;
  }


  .contact-text{
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    width: 300px;
    margin-left: 9px;
    text-decoration: none;
    color: #f0d8d9;
  }

  .ico {
    display: inline-block;
    cursor: pointer;
  }

  .location {
    background-image: url("./assets/img/contacts/location.svg");
    width: 7px;
    height: 11px;
    margin-left: 4px;
  }
  
  .phone{
    background-image: url("./assets/img/contacts/phone.svg");
    width: 11px;
    height: 11px;
    margin-left: 2px;
  }

  .mail{
    background-image: url("./assets/img/contacts/mail.svg");
    width: 13px;
    height: 8px;
    margin-left: 1px;
  }

  .btn{
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 400;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f48c8f;
    background-color: #d6564f;
  }

  .btn:hover{
    color: #fff;
    background-color: #f7746d;

  }

  .footer{
    background-color: #2d303a;
  }
  
  .wrapper-footer{
    padding-top: 20px;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 39px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright{
    font-size: 1.2rem;
    font-weight: 400;
    color: #666d89;
  }

  .footer-icon{
      margin-left: 5px;
  }

  .footer-icon:hover{
    filter: sepia(100%);
  }







